- rows_per_page = 12
- pages = (@food_items.length + rows_per_page - 1) / rows_per_page

= page_title 'Listing Food Items' do
  %h4
    %span#models-counter
      #{@food_items.length}
    food items over
    %span#pages-counter{data: {rows_per_page: rows_per_page}}
      #{pages == 0 ? 1 : pages}
    pages

= index_page_control(pages)

%table.table.table-striped

  %thead
    %tr
      %th #
      %th Name
      %th Description
      %th Price
      %th Is Alcoholic?
      %th

  %tbody
    = render partial: 'row_form', locals: {food_item: FoodItem.new}
    - @food_items.each_with_index do |food_item, index|
      = render partial: 'row', locals: {food_item: food_item, index: index, is_hidden: (index >= rows_per_page)}