- rows_per_page = 12
- pages = (@<%= plural_table_name %>.length + rows_per_page - 1) / rows_per_page

= page_title 'Listing <%= plural_table_name.titleize %>' do
  %h4
    %span#models-counter
      #{@<%= plural_table_name %>.length}
    <%= plural_table_name.humanize.downcase %> over
    %span#pages-counter{data: {rows_per_page: rows_per_page}}
      #{pages == 0 ? 1 : pages}
    pages

= index_page_control(pages)

%table.table.table-striped

  %thead
    %tr
      %th #<% for attribute in attributes %>
      %th <%= attribute.human_name.titleize %><% end%><%= '?' if  attribute.type == :boolean %>
      %th

  %tbody
    = render partial: 'row_form', locals: {<%= singular_table_name %>: <%= class_name %>.new}
    - @<%= plural_table_name %>.each_with_index do |<%= singular_table_name %>, index|
      = render partial: 'row', locals: {<%= singular_table_name %>: <%= singular_table_name %>, index: index, is_hidden: (index >= rows_per_page)}